<ion-header collapse="">
  <ion-toolbar>
    <ion-row class="ion-padding">
      <ion-img offset=3 class="menu-logo-img ion-text-center" [src]="back" (click) = goBack()></ion-img>
      <ion-label class="menu_title">Change Password</ion-label>
      <ion-col>
        <ion-buttons class="menu_btn">
          <ion-menu-button menu="first"><ion-img offset=3 class="profile" [src]="user_image"></ion-img></ion-menu-button>
        </ion-buttons>
        <ion-img offset=3 class="search" [src]="search"></ion-img>
     </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form #form="ngForm">
    <ion-grid>
      <ion-row class="ion-margin">
        <ion-label class="ion_label">Current Password <span class="star">*</span></ion-label>
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" type="password" name="currentPassword" [(ngModel)]="currentPassword" placeholder="Current Password" class="ion-font-family ion_input"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-label class="ion_label">New Password <span class="star">*</span></ion-label>
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="New Password" class="ion-font-family ion_input"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-label class="ion_label">Confirm New Password <span class="star">*</span></ion-label>
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" type="password" name="confirmnewpassword" [(ngModel)]="confirmPassword" placeholder="Confirm New Password" class="ion-font-family ion_input"></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-button class="ion-margin ion-font-family submit_button" (click)="changePassword()" expand="block" size="10">Save Changes</ion-button>
    </ion-grid>
  </form>
</ion-content>
