
  <ion-header collapse="">
    <ion-toolbar>
      <ion-row class="ion-padding">
        <ion-img offset=3 class="menu-logo-img ion-text-center" [src]="logo"></ion-img>
        <ion-label class="menu_title">Podcasts</ion-label>
        <ion-col>
          <ion-buttons class="menu_btn">
            <ion-menu-button menu="first"><ion-img offset=3 class="profile" [src]="user_image"></ion-img></ion-menu-button>
          </ion-buttons>
          <ion-img offset=3 class="search" [src]="search"></ion-img>
       </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="allVideoPodcasts">
    <ion-row class="ion-align-items-center ion-justify-content-center card_container" *ngFor="let allVideoPodcast of allVideoPodcasts;">
      <ion-col size="4">
        <ion-item class="img_container">
          <ion-img class="img_icon" *ngIf="allVideoPodcast" [src]="allVideoPodcast.path"></ion-img>
          <ion-text class="img_text">{{allVideoPodcast.runtime}}</ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <ion-row class="ion-align-items-center">
          <ion-text class="title">{{allVideoPodcast.title}}</ion-text>
        </ion-row>
       <ion-row class="ion-align-items-center">
          <ion-text class="subtitle" (click)="goToChannelDetails(allVideoPodcast.channel_id)">{{allVideoPodcast.channelName}}</ion-text>
          <ion-img class="small_icon" [src]="checkmark"></ion-img>
       </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-icon class="footer_icon"  name="eye"></ion-icon>
          <ion-text class="footer_title">{{allVideoPodcast.views}} views</ion-text>
          <ion-icon class="footer_icon" name="calendar"></ion-icon>
          <ion-text class="footer_title">{{allVideoPodcast.dateDiff}}</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-content>

