<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon [src]="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon [src]="listing "></ion-icon>
      <ion-label>Channels</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon [src]="upload "></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab4">
      <ion-icon [src]="podcast "></ion-icon>
      <ion-label>Podcast</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon [src]="live"></ion-icon>
      <ion-label>Live</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
