
  <ion-header collapse="" *ngIf="loaded">
    <ion-toolbar>
      <ion-row class="ion-padding">
        <ion-img offset=3 class="menu-logo-img ion-text-center" [src]="logo"></ion-img>
        <ion-label class="menu_title">Myview</ion-label>
        <ion-col>
          <ion-buttons class="menu_btn">
            <ion-menu-button menu="first"><ion-img offset=3 class="profile" [src]="user_image"></ion-img></ion-menu-button>
          </ion-buttons>
          <ion-img offset=3 class="search" [src]="search" (click)="searchPage()"></ion-img>
       </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="loaded">
    <div *ngIf="popularChannels">
      <ion-item>
        <h5 class="popular_title">Popular channels</h5>
      </ion-item>
      <ion-row class="ion-align-items-center">
        <ion-slides [options]="slideOpts" class="popular_slide">
          <ion-slide *ngFor="let popularChannel of popularChannels;" (click)="goToChannelDetails(popularChannel.id)">
            <ion-card class="small_card">
              <ion-item>
                <ion-img class="small_card_img" [src]="popularChannel.path ? popularChannel.path : user_image"></ion-img>
              </ion-item>
              <ion-item>
                <ion-label class="small_card_text">{{popularChannel.name}}</ion-label>
              </ion-item>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </div>

    <div *ngIf="latestVideoPodcasts">
      <ion-row class="ion-align-items-center">
        <ion-item>
          <h5 class="latest">Latest Video Podcasts</h5>
        </ion-item>
        <ion-col class="ion-padding-end">
          <h5 class="viewall" (click)="goToPodcast()">View All</h5>
        </ion-col>
      </ion-row>
      
      <ion-card class="big_card" *ngFor="let latestVideoPodcast of latestVideoPodcasts;">
        <ion-card-header class="ion-no-padding">
          <ion-item class="big_card_img_container" (click)="goToPlay(latestVideoPodcast.id)">
            <ion-img class="big_card_img" *ngIf="latestVideoPodcast.path" [src]="latestVideoPodcast.path"></ion-img>
            <ion-text class="big_card_img_text">{{latestVideoPodcast.runtime_formatted}}</ion-text>
          </ion-item>
        </ion-card-header>
      
        <ion-card-content class="big_card_content">
          <ion-row class="ion-align-items-center" (click)="goToPlay(latestVideoPodcast.id)">
            <ion-card-title class="big_card_title">{{latestVideoPodcast.title}}</ion-card-title>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-card-title class="big_card_subtitle" (click)="goToChannelDetails(latestVideoPodcast.channel_id)">{{latestVideoPodcast.channelName}}</ion-card-title>
            <!-- <ion-img class="small_icon" [src]="checkmark"></ion-img> -->
          </ion-row>
          <ion-row class="ion-align-items-center" (click)="goToPlay(latestVideoPodcast.id)">
            <ion-icon class="footer_small_icon"  name="eye"></ion-icon>
            <ion-text class="big_card_footer">{{latestVideoPodcast.views}} views</ion-text>
            <ion-icon class="footer_small_icon" name="calendar"></ion-icon>
            <ion-text class="big_card_footer">{{latestVideoPodcast.dateDiff}}</ion-text>
          </ion-row>
        </ion-card-content>
      </ion-card>
      
    </div>

    <div *ngIf="streamingNows">
      <ion-row class="ion-align-items-center">
        <ion-item>
          <h5 class="latest">Streaming Now</h5>
        </ion-item>
        <ion-col class="ion-padding-end">
          <h5 class="viewall">View All</h5>
        </ion-col>
      </ion-row>
      
      <ion-card class="big_card" *ngFor="let streamingNow of streamingNows;">
        <ion-card-header class="ion-no-padding">
          <ion-item class="big_card_img_container">
            <ion-img class="big_card_img" *ngIf="streamingNow.path" [src]="streamingNow.path"></ion-img>
          </ion-item>
        </ion-card-header>
      
        <ion-card-content class="big_card_content">
          <ion-row class="ion-align-items-center">
            <ion-card-title class="big_card_title">{{streamingNow.title}}</ion-card-title>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-card-title class="big_card_subtitle" (click)="goToChannelDetails(streamingNow.channel_id)">{{streamingNow.channelName}}</ion-card-title>
            <!-- <ion-img class="small_icon" [src]="checkmark"></ion-img> -->
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-icon class="footer_small_icon"  name="eye"></ion-icon>
            <ion-text class="big_card_footer">{{streamingNow.views}} views</ion-text>
            <ion-icon class="footer_small_icon" name="calendar"></ion-icon>
            <ion-text class="big_card_footer">{{streamingNow.dateDiff}}</ion-text>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

