.menu-logo-img{
    width: 10px;
    margin-left: 5px;
}
ion-item, ion-toolbar{
    --border-color: transparent;
}
ion-toolbar .sc-ion-searchbar-ios-h{
    padding : 0px !important;
}

.filter{
    width: 17px;
    float: right;
    margin-right: 5px;
}

.img_icon{
    width: 100%;
    border-radius: 50% !important;
    overflow: hidden;
}

.img_container{
    position: relative;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.img_text{
    position: absolute;
    background-color: #FF253A;
    height: 14px;
    width: 38px;
    font-size: 10px;
    text-align: center;
    color: white;
    border-radius: 3px;
    right: 3px;
    bottom: 3px;
    line-height: 13px;
    font-weight: bold;
}

//text
.title{
    font-size: 13px;
    font-weight: bold;
    margin: 3px 0;
}

.subtitle{
    font-size: 10px;
    font-weight: normal;
    color: #FF253A;
    margin: 3px 0 8px 0;
}

.small_icon{
    width: 10px;
    height: 10px;
    margin-left: 4px;
}

.footer_title{
    font-size: 9px;
    color: #A8A8A8;
    margin-right: 10px;
}

.footer_icon{
    width: 12px;
    height: 12px;
    color: #A8A8A8;
    margin-right: 4px;
}

.card_container{
    margin: 15px 0px;
}