<ion-content class="class-name">
  <ion-grid class="logo_grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-img offset=3 class="logo-img ion-text-center" [src]="logo"></ion-img>
      </ion-col>
      <ion-col size="5">
        <ion-label class="main_title">Myview</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="title_grid">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-text class="title">Welcome!</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="8">
        <ion-text class="title_p">It is a long established fact that a reader will be distracted by the readable</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #form="ngForm" (ngSubmit)="doRegister(form.value)">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-margin ion-padding-start ion-padding-end">
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" class="ion_input" name="name" ngModel placeholder="Full Name" class="ion-font-family" style="font-weight: 400; font-size: 13px;"></ion-input>
        </ion-col>
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" class="ion_input" name="email" ngModel placeholder="Email address" class="ion-font-family" style="font-weight: 400; font-size: 13px;"></ion-input>
        </ion-col>
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" class="ion_input" name="phone" ngModel placeholder="Phone Number" class="ion-font-family" style="font-weight: 400; font-size: 13px;"></ion-input>
        </ion-col>
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" type="password" name="password" ngModel class="ion_input" placeholder="Password" class="ion-font-family" style="font-weight: 400; font-size: 13px;"></ion-input>
        </ion-col>
        <ion-col class="cell-class ion-font-family" size="12">
          <ion-input fill="outline" type="password" name="confirmpassword" ngModel class="ion_input" placeholder="Confirm password" class="ion-font-family" style="font-weight: 400; font-size: 13px;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-button class="ion-margin ion-padding-start ion-padding-end ion-font-family submit_button" type="submit" expand="block" size="10">Sign up</ion-button>
    </ion-grid>
  </form>
  <p class="ion-text-center ion-font-family">
    <ion-text class="forgot">Already have an account?</ion-text>
    <ion-text class="clickhere" ion-text-center (click)=login()> Sign In</ion-text>
  </p>
</ion-content>